[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pytest = "==9.0.2"
port-for = "==1.0.0"
mirakuru = "==3.0.2"
packaging = "==26.0"
psycopg = "==3.3.3"

[dev-packages]
towncrier = "==25.8.0"
psycopg-binary = {version = "==3.3.3", markers="implementation_name == 'cpython'"}
pytest-cov = "==7.0.0"
pytest-xdist = "==3.8.0"
mock = "==5.2.0"
mypy = {version = "==1.19.1", markers="implementation_name == 'cpython'"}
types-setuptools = "==82.0.0.20260210"
tbump = "==6.11.0"
